/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.menu-spacer {
  flex: 1 1 auto;
}

.fullwidth-textarea{
  width: 100%;
}

.mat-card {
  margin: 1em;
}

.mat-form-field-label {
    color: rgba(0,0,0,.6) !important;
}

.mat-form-field-outline {
    color: rgba(0,0,0,.12) !important;
}

.mat-input-element:disabled {
    color: currentColor !important;
}

.small-form-field {
  width: 6em !important;
}

.big-button svg {
    scale: 1.5 !important;
}