.git
.gitignore
.vscode
.vs
.config
*.code-workspace

doc/
config/
Infrastructure/
Docker/
img/
*.Test/

# directories
**/bin/
**/obj/
**/out/
#**/node_modules/
**/.vscode/
**/dist/
**/e2e/

# files
**/Dockerfile*
**/*.trx
**/*.md
**/*.png
**/*.txt
**/*.ps1
**/*.cmd
**/*.sh
**/*.TMP
**/npm-debug.log
**/Dockerfile*
**/docker-compose*
**/README.md
**/LICENSE
**/.gitignore