.git
.gitignore
.vscode
.vs
.config
*.code-workspace

doc/
config/
Infrastructure/
Docker/
img/
*.Test/

# directories
**/bin/
**/obj/
**/out/
#**/node_modules/
**/.vscode/
**/dist/
**/e2e/

# files

**/*.*proj.user
**/*.cmd
**/*.dbmdl
**/*.jfm
**/*.md
**/*.png
**/*.ps1
**/*.sh
**/*.TMP
**/*.trx
**/*.txt
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/bin
**/charts
**/compose*
**/docker-compose*
**/Dockerfile*
**/LICENSE
**/node_modules
**/npm-debug.log
**/obj
**/README.md
**/secrets.dev.yaml
**/values.dev.yaml
README.md
