<div class="sensor-card">
    <mat-card>
        <mat-card-header>
            <mat-icon mat-card-avatar aria-hidden="false" svgIcon="chart-bubble"></mat-icon>
            Karbonisierung
        </mat-card-header>
        <mat-card-content>
            Mess- und Zielwerte
            <ul>
                <li>Jungbier-Temperatur</li> <input value="20 C">
                <li>Ziel-Karbonisierung</li> <input value="3,5 g/l">
                <li>Biermenge</li> <input value="20 l">
            </ul>

           CO2-Bilanz
           <ul>
               <li>Enthaltenes CO2: 1,6 g/l</li>
               <li>Fehlendes CO2: 1,9 g/l</li>
           </ul>

           Nachkarbonisierung in der Flasche
           <ul>
               <li>Menge an Zuckerlösung</li> <input value="0,5 l">
               <li>Flaschengröße</li><input value="0,5 l">
               <li>Lösungsmenge pro Flasche</li><input value="10 ml">
               <li>Gesamtmenge an Zucker</li><input value="93 g">
               <li>Alkoholgehalt nach der Karbonisierung</li><input value="0,24 %vol">
           </ul>
        </mat-card-content>

        <button mat-raised-button color="primary">In Messreihe übertragen</button>
    </mat-card>
</div>
<div class="sensor-card">
    <mat-card>
        <mat-card-header>
            <mat-icon mat-card-avatar aria-hidden="false" svgIcon="scale"></mat-icon>
            Sudhaus Ausbeute
        </mat-card-header>
        <mat-card-content>
            <ul>
                <li>Schüttungsmenge</li> <input value="20 kg">
                <li>Würze Menge</li> <input value="20 l">
                <li>Stammwürze</li> <input value="5 P">
            </ul>

           <ul>
               <li>Sudhaus Ausbeute: 60%</li>
           </ul>
        </mat-card-content>

        <button mat-raised-button color="primary">In Messreihe übertragen</button>
    </mat-card>
</div>