<mat-toolbar color="primary">
  <mat-toolbar-row>
      <button mat-icon-button aria-label="Icon Button for Menu" (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
      </button>

      <span>{{title}}&nbsp;</span>
      <mat-icon svgIcon="glass-mug-variant"></mat-icon>
      <app-login-menu></app-login-menu>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="container">
  <mat-drawer #drawer [opened]="screenWidth > 600" [mode]="(screenWidth > 600) ? 'side' : 'over'">
      <mat-list role="list">
          <mat-list-item role="listitem">
              <a class="sidenav-link" mat-button [routerLink]="['/']">
                  <mat-icon>timer</mat-icon>
                  <span>&nbsp;Live Spindel-Daten</span>
              </a>
          </mat-list-item>

          <mat-divider></mat-divider>

          <mat-list-item role="listitem">
              <a class="sidenav-link" mat-button [routerLink]="['/newMeasure']">
                  <mat-icon>timeline</mat-icon>
                  <span>&nbsp;Neue Messung</span>
              </a>
          </mat-list-item>

          <mat-divider></mat-divider>

          <mat-list-item role="listitem">
              <a class="sidenav-link" mat-button [routerLink]="['/viewMeasure']">
                  <mat-icon svgIcon="chart-timeline"></mat-icon>
                  <span>&nbsp;Messungen anzeigen</span>
              </a>
          </mat-list-item>
      </mat-list>
  </mat-drawer>

  <mat-drawer-content>
      <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>