<div class="input-container">
    <h3>Neue Messreihe starten</h3>
    <mat-form-field appearance="fill">
        <mat-label>Name der Messung</mat-label>
        <input matInput required>
    </mat-form-field>
    <br>
    <mat-form-field appearance="fill">

        <mat-label>Beschreibung/Notizen</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>
    <br>
    <button mat-raised-button color="secondary">Gärung starten
        <mat-icon svgIcon="glass-mug-variant"></mat-icon>
    </button>

</div>