<mat-card>
    <mat-card-header>
        <mat-card-title>Current Values</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <ul>
            <li>Battery: {{ BatteryStream | async }}</li>
            <li>Temperature: {{ TemperatureStream | async }}</li>
            <li>Gravity: {{ GravityStream | async }}</li>
        </ul>
    </mat-card-content>
</mat-card>
<mat-card>
    <mat-card-content>
        <svg id="graph">
            <g *ngFor="let range of Ranges; index as i" transform="translate(0 50)">
                <text>{{range.Name}}</text>
            </g>
            <g transform="translate(0 0) scale(1 1)" *ngIf="CurrentData?.length > 0" id="chartArea">
                <rect fill="transparent" stroke-width="2" stroke="orange" [attr.width]="SvgWidth"
                    [attr.height]="SvgHeight">
                </rect>
                <g *ngFor="let range of Ranges" [ngClass]="range.Class" transform="translate(0 300) scale(0.99 -0.99)">
                    <g *ngFor="let point of CurrentData; index as i; last as isLast">
                        <line class="line" *ngIf="!isLast" [attr.x1]="calculateX(i)"
                            [attr.y1]="calculateY(range, point)" [attr.x2]="calculateX(i + 1)"
                            [attr.y2]="calculateY(range, CurrentData[i + 1])"></line>
                        <!--<circle class="dot" r="4" [attr.cx]="calculateX(i)" [attr.cy]="calculateY(range, point)">
                        </circle> -->
                    </g>
                </g>
            </g>
        </svg>
    </mat-card-content>
</mat-card>