<div *ngIf="currentRecordingStatus$ | async">
    <ng-container *ngIf="isRecordingActive(); else notRecording">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Aktuelle Messwerte</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <ul>
                    <li>Batterie: {{ BatteryStream | async }}</li>
                    <li>Temperatur: {{ TemperatureStream | async }}</li>
                    <li>Stammwürze: {{ GravityStream | async }}</li>
                </ul>
                <button mat-raised-button *ngIf="isRecordingStopPossible()"
                    (click)="StopRecording($event); $event.stopPropagation()" color="warn">Aufzeichnung stoppen
                    <mat-icon svgIcon="stop-circle"></mat-icon>
                </button>
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-content>
                <!--
                <svg id="graph">
                    <g *ngFor="let range of Ranges; index as i" transform="translate(0 50)">
                        <text>{{range.Name}}</text>
                    </g>
                    <g transform="translate(0 0) scale(1 1)" *ngIf="CurrentData?.length > 0" id="chartArea">
                        <rect fill="transparent" stroke-width="2" stroke="orange" [attr.width]="SvgWidth"
                            [attr.height]="SvgHeight">
                        </rect>
                        <g *ngFor="let range of Ranges" [ngClass]="range.Class"
                            transform="translate(0 300) scale(0.99 -0.99)">
                            <g *ngFor="let point of CurrentData; index as i; last as isLast">
                                <line class="line" *ngIf="!isLast" [attr.x1]="calculateX(i)"
                                    [attr.y1]="calculateY(range, point)" [attr.x2]="calculateX(i + 1)"
                                    [attr.y2]="calculateY(range, CurrentData[i + 1])"></line>
                            </g>
                        </g>
                    </g>
                </svg>
                <div id="valueGraph"></div>
            -->

                <div id="diagram-container">
                    <ngx-charts-line-chart [view]="view" [scheme]="colorScheme" [legend]="legend"
                        [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel" [xAxis]="xAxis"
                        [yAxis]="yAxis" [xAxisLabel]="xAxisLabel" [yAxisLabel]="yAxisLabel" [timeline]="timeline"
                        [results]="chartData" (select)="onSelect($event)" (activate)="onActivate($event)"
                        (deactivate)="onDeactivate($event)">
                        <ng-template #tooltipTemplate let-model="model">
                            <div class="area-tooltip-container">
                                {{model.series}} - {{getDate(model.name)}} <br />
                                <b>{{model.value}}</b>
                            </div>
                        </ng-template>

                        <ng-template #seriesTooltipTemplate let-model="model">
                            <div class="area-tooltip-container">
                                {{getDate(model[0].name)}} <br />
                                {{model[0].series}} - {{model[0].value}} °C<br />
                                {{model[1].series}} - {{model[1].value}} °P<br />
                                {{model[2].series}} - {{model[2].value}} vol %<br />
                            </div>
                        </ng-template>
                    </ngx-charts-line-chart>
                </div>
            </mat-card-content>
        </mat-card>
    </ng-container>

    <ng-template #notRecording>
        Currently no recording taking place!
    </ng-template>

</div>