
<mat-card>
    <mat-card-header>
        <mat-card-title>Quittenbier &nbsp;&nbsp; 10.4.2020 - 21.4.2020</mat-card-title>
        <button mat-raised-button>Edit</button>
    </mat-card-header>
    <mat-card-content>
        
        <b>Braulogbuch</b>
            <ul>
                <li>Beschreibung: <textarea> Testbier mit der iSpindel: ein Quittenbier</textarea></li>
                <li>Hefesorte: <input value="Safale K-97"></li>
                <li>Angestrebter Bierstil: <input value="Fruchtbier"></li>
                <li>Notizen: <textarea>- halbe Packung Safale mit 400ml+1TL Zucker rehydriert</textarea> </li>
            </ul>

        <b>Brau Ergebnis</b>
        <ul>
            <li>mittlere Brautemperatur: 20C (aus Daten)</li>
            <li>Plato Startwert: 12P (aus Daten)</li>
            <li>Alkoholgehalt: 5,6% (aus Daten + Zuschlag vom Karbonisieren)</li>
            <li>EVG: <input value="60%"> (0-100%)</li>
            <li>Bittere: <input value="30 IBU"> (0-3000)</li>
            <li>Farbe: <input value="5,4 EBC"> (0-150)</li>
            <li>Sudhaus-Ausbeute: <input value="55%"> (0-100)</li>
            <li>Biermenge: <input value="20 l">(0-200l)</li>
        </ul>
        
        <b>Karbonisierung</b>
        <ul>
            <li>Zielwert CO2: <input value="5,5 g/l"></li>
            <li>Zugegebener Zucker: <input value="10 g/l"></li>
            <li>Erhöhung des Alkoholgehaltes: <input value="2 %vol"></li>
        </ul>

        <br>

    FANCY DIAGRAMM
    </mat-card-content>
</mat-card>