[Unit]
Description=iSpindel DataCapture Job
Requires=network-online.target
After=network-online.target
After=network-online.target ispindel-db.service ispindel-mqtt.service
Requires=ispindel-db.service ispindel-mqtt.service

[Service]
ExecStart=/home/pi/iSpindelV3Grpc/JobRunner/iSpindel.Server
ExecStop=/bin/kill -TERM $MAINPID
User=pi
Group=pi
#PIDFile=/var/run/ha-service.pid
Type=exec

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target