.spacer {
    width: 100vw;
}

.sidenav-link {
    width: 100%;
    text-align: left;
}

@media screen and (min-width: 600px) {
    .container {
        height: calc(100% - 64px); /* -64px cause thats the height of the toolbar */
        width: 100%;
    }
}

@media screen and (max-width: 599px) {
    .container {
        height: calc(100% - 56px); /* -56px cause thats the height of the toolbar on mobil*/
        width: 100%;
    }
}
